*{
	margin: 0;
    padding: 0;
}

html{
	height: 100%;
}

body{
	position: relative;
	height: 100%;
}


header{
	background: transparent	;
	height:150px;
	position: relative;
}

#shapka{
	width: 130px;
	height: 130px;
	background: #003;
	position: relative;
	top: 10px;
	left: 50px;
}

header h1{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	font-size: 40px;
}

nav{
/*	background: #666;*/
	background: transparent;
	height: 170px;
	text-align: center;
/*	position: sticky;*/
	top: 0;
}

nav a{
	color: #310;
	font-size: 26px;
	text-decoration: none;
	margin: 0 10px;
	line-height: 50px;
	transition: 0.8s;

}

nav a:hover{
	color: red;
}

#parallax{
	position: relative;
	top: -200px;
	left: 0;
/*	right: 0;*/
/*	bottom: 0;*/
	z-index: -5;
	height: 70vh;
	background-image: url("https://i.ytimg.com/vi/5C8gfiLdvS0/maxresdefault.jpg");
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}


#parallax div{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
text-align: center;
}

#parallax h1{
	color: fff;
	font-size: 70px;
}

content{
	margin-top: 80vh;
}

section{
	min-height: 400px;
	padding: 50px 0;
}

section h1{
	text-align: center;
	font-size: 30px;
}

.container{
	width: 80%;   
}

.img_left img{
	width: 50%;
	float: left;
	margin-right: 20px;
}

.img_left p, .img_right p{
	font-size: 36px;
	text-align: justify;
}

.clear{
	clear: both;
	margin: 40px;
}

.img_right img{
	width: 50%;
	float: right;
	margin-left: 20px;
}

footer{
	bottom: 0;
	height: 300px;
	position: relative;
}

footer div{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center; 
	     
}